<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syncadia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />
    <script src="components/theme-switcher.js"></script>
    <script src="components/timer.js"></script>
    <script src="components/nav-menu.js"></script>
    <script src="components/footer.js"></script>
    <script src="scripts/drag.js"></script>
    <script src="scripts/task-manager.js"></script>
    <script src="scripts/timer.js"></script>
    <script src="scripts/theme-selector.js"></script>
    <script src="components/progress-indicator.js"></script>
    <script src="components/task-editing-modal.js"></script>
    <script src="components/task-column.js"></script>
    <script src="components/timer-modal.js"></script>
    <script src="components/calendar-modal.js"></script>
    <script src="scripts/calendar-handler.js"></script>
</head>

<body class="default-theme">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/home"><img src="/Images/logo.png" alt="Logo"></a>
        <div class="collapse navbar-collapse">
            <nav-menu></nav-menu>
        </div>
        <custom-timer></custom-timer>
        <theme-switcher></theme-switcher>
    </nav>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-2 sidebar">
                <nav class="nav flex-column">
                    <a class="nav-link" href="#">Search</a>
                    <a class="nav-link" href="#" id="open-notepad">Notes</a>
                    <a class="nav-link" href="#" id="open-calendar" data-toggle="modal" data-target="#calendarModal">Calendar</a>
                    <a class="nav-link" href="#">Filters & Priorities</a>
                    <a class="nav-link" href="/projects">My Projects</a>
                    <a class="nav-link" href="#">Add Team</a>
                    <a class="nav-link" href="#">Deleted Notes</a>
                </nav>
                <button class="btn btn-dark mt-3" onclick="window.location.href='/feedback';">Give us feedback!</button>
            </div>
            <div class="col-md-10 main-content">
                <h2 class="mb-5">Start Planning!</h2>
                <div class="row mb-5">
                    <task-column class="col-md-4" tasks="<%= JSON.stringify(tasks) %>" type="TODO"></task-column>
                    <task-column class="col-md-4" tasks="<%= JSON.stringify(tasks) %>" type="IN-PROGRESS"></task-column>
                    <task-column class="col-md-4" tasks="<%= JSON.stringify(tasks) %>" type="COMPLETE"></task-column>
                </div>
                <h2>Progress</h2>
                <p class="lead">Subheading to introduce testimonials</p>
                <div class="row text-center">
                    <progress-indicator class="col-md-4" column="TODO" progress="<%= progress.todo %>"></progress-indicator>
                    <progress-indicator class="col-md-4" column="IN-PROGRESS" progress="<%= progress.inProgress %>"></progress-indicator>
                    <progress-indicator class="col-md-4" column="COMPLETE" progress="<%= progress.completed %>"> </progress-indicator>
                </div>
            </div>
        </div>
    </div>

    <!-- Notepad Modal -->
    <notepad-modal></notepad-modal>
    <!-- Calendar Modal -->
    <calendar-modal></calendar-modal>
    <!-- Timer modal -->
    <timer-modal></timer-modal>
    <!-- Task editing modal -->
    <task-editing-modal></task-editing-modal>

    <hr>
    <!-- Footer -->
    <custom-footer></custom-footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- FullCalendar JS -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>

    <!-- Initialize FullCalendar -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#calendarModal').on('shown.bs.modal', function () {
                var calendarEl = document.getElementById('calendar');
                if (calendarEl && !calendarEl.classList.contains('fc')) {  // Ensure the calendar is not already initialized
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth'
                    });
                    calendar.render();
                }
            });
        });
    </script>
</body>

</html>
